<%- include('../partials/navigation.ejs') %>
<div class="mx-5 rounded-md">

    <div class="flex justify-between items-center flex-wrap gap-5 border-b py-10">
        <p class="text-xl xl:text-2xl font-semibold text-tColor2">Add Branded Product</p>
        <button class="bg-[#504F54] text-white px-7 py-3 rounded flex items-center gap-2">
            <i class="fa-solid fa-eye"></i>
            <p>Preview</p>
        </button>
    </div>

    <!-- Product Upload Section -->
    <form class="" action="">
        <div class="grid grid-cols-1 xl:grid-cols-4 relative">

            <!-- Product Left Section -->
            <div class="col-span-3 xl:border-r xl:pr-5">

                <p class="font-semibold text-lg text-tColor2 pt-5">Product Information</p>

                <!-- Product Information Input Section -->
                <div class="grid grid-cols-1 xl:grid-cols-3 gap-5 mt-5">

                    <div class="col-span-1 xl:col-span-2">
                        <p class="text-tColor3 mb-2">Product Name</p>
                        <input class=" border rounded px-3 py-2 flex-1 focus:outline-none focus:shadow-outline w-full"
                            type="text" id="product_name" name="product-name" placeholder="Product Name">
                    </div>

                    <div class="col-span-1">
                        <p class="text-tColor3 mb-2">Price</p>
                        <div class="flex mb-4 items-center">
                            <div class="relative">
                                <select
                                    class=" border rounded-l px-3 py-2 pr-8 appearance-none focus:outline-none focus:shadow-outline"
                                    id="country-code" name="country-code">
                                    <option value="USD">USD</option>
                                    <option value="GPT">GPT</option>
                                    <option value="INR">INR</option>
                                    <!-- Add more options here -->
                                </select>
                                <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                                    <i class="text-sm fa-solid fa-angle-down"></i>
                                </div>
                            </div>
                            <input
                                class=" border rounded-r border-l-0 px-3 py-2 flex-1 focus:outline-none focus:shadow-outline w-full"
                                type="number" id="product_price" name="product-price" placeholder="Price">
                        </div>
                    </div>

                </div>



                <!-- Product Right Section -->
                <div class="xl:absolute top-0 right-0 xl:pl-5 xl:w-1/4">
                    <p class="font-semibold text-lg text-tColor2 py-5">Primary Details</p>

                    <div>
                        <p class="text-tColor3 mb-2">Category</p>
                        <div class="relative">
                            <select
                                class=" border rounded-l px-3 py-2 pr-8 appearance-none focus:outline-none focus:shadow-outline w-full"
                                id="country-code" name="country-code">
                                <% for(let cat of extraCat){ %>
                                <option value="<%= cat.extra_cat_id %>"><%= cat.extra_cat_name %></option>
                                <% } %>
                                <!-- Add more options here -->
                            </select>
                            <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                                <i class="text-sm fa-solid fa-angle-down"></i>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="border-b pb-10">
                    <p class="text-tColor3 mb-2">Description</p>
                    <textarea class="border rounded-r px-3 py-2 flex-1 focus:outline-none focus:shadow-outline w-full"
                        id="product_desciption" name="product-description" rows="4" cols="50"
                        placeholder="Enter Product Description"></textarea>
                </div>


                <!-- Product Image Upload Section -->
                <div class="border-b py-10 w-fit">
                    <p class="font-semibold text-lg text-tColor2 mb-2">Media</p>

                    <div class="flex gap-5 flex-wrap items-center">
                        <h5>Product Feature Image</h5>

                    </div>
                    <input name="product-featured-image" type="file"
                        class="dropzone-feature-file custom-feature-file-label" style="margin-top: 5px;" required />
                    <hr class="mt-2">
                    <h6>Add Product Image</h6>
                    <div class="mb-4" id="productImageContainer">
                        <!-- product image fields will be dynamically added here -->
                    </div>
                    <button type="button" class="bg-primaryColor text-white rounded px-4 py-2" id="addImageBtn">Add
                        Image</button>

                </div>

                <div
                    class="flex justify-center xl:justify-between items-center flex-wrap gap-5 border rounded p-5 mb-5">
                    <p class="w-full xl:w-fit text-center">Saved on system <span>5 mins</span> ago</p>
                    <button class="xl:ml-auto bg-orange-100 rounded"><i
                            class="fa-regular fa-trash-can w-full text-tertiaryColor p-3"></i></button>
                    <button class="bg-primaryColor text-white rounded px-4 py-2">+ Save Products</button>
                </div>

            </div>

        </div>

    </form>

</div>



</div>

</section>





<!-- Header Section Script -->
<script>
    // Menu toggle button 
    const toggleButton = document.getElementById("toggle-button");
    const toggleMenu = document.getElementById("toggle-menu");
    var toggleCounter = 1;
    toggleButton.onclick = function () {
        toggleCounter++;
        if (toggleCounter % 2 == 0) {
            toggleMenu.classList.remove("hidden");
            toggleMenu.classList.add("grid");
        }
        else {
            toggleMenu.classList.remove("grid");
            toggleMenu.classList.add("hidden");
        }
    }


</script>


<!-- Accordion Script -->
<script>
    const accordionButtons = document.querySelectorAll('.accordion-button');
    const accordionMenu = document.querySelectorAll('.menu-collapse');

    accordionButtons.forEach(button => {
        button.addEventListener('click', () => {
            const accordionCollapse = button.nextElementSibling;
            button.setAttribute('aria-expanded', button.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
            accordionCollapse.classList.toggle('hidden');
        });
    });

    // Set all accordion items to collapsed state by default
    document.querySelectorAll('.menu-collapse').forEach(collapse => {
        collapse.classList.add('hidden');
    });

    document.addEventListener('click', function (e) {
        if (!accordionMenu.contains(e.target) && !accordionButtons.contains(e.target)) {
            accordionMenu.classList.add('hidden');
        }
    });

</script>

<script>
    // JavaScript to handle dynamically adding and removing subcategory fields
    document.getElementById("addImageBtn").addEventListener("click", function () {
        const productImageContainer = document.getElementById("productImageContainer");
        const newProdcutImageField = document.createElement("div");
        newProdcutImageField.className = "flex items-center mb-2";
        newProdcutImageField.innerHTML = `
    <input  name="product-image" type="file" class="dropzone-file custom-file-label" style="margin-top: 5px;" />
      <button type="button"  style="margin-left: 10px;" class="bg-red-800 text-white px-4 py-1 rounded" onclick="removeSubcategoryField(this)">Remove</button>
    `;
        productImageContainer.appendChild(newProdcutImageField);
    });

    function removeSubcategoryField(button) {
        button.parentNode.remove();
    }
</script>

<script>
    const tables = document.querySelectorAll('.table-collapse');
    window.onclick = function (event) {
        for (let table of tables) {
            if (event.target == table) {
                table.classList.toggle('hidden');
            }
        }
    };
</script>




</body>

</html>